# Introduction

State notebook purpose here

### Imports

Import libraries and write settings here.

In [3]:
# Data manipulation

import pandas as pd
import numpy as np
import io
import sys

# Options for pandas
pd.set_option('display.max_rows', 120)
pd.set_option('display.max_columns', 120)
pd.set_option('display.max_colwidth', 150)
pd.set_option('display.width', 1000)
pd.set_option('expand_frame_repr', True)

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

from IPython import get_ipython

ipython = get_ipython()

# autoreload extension
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload

%autoreload 2

# Visualizations
import seaborn as sns
sns.set(color_codes=True)
sns.set(style="whitegrid")

# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

# Analysis/Modeling

Do work here

In [7]:
import featuretools as ft
data = ft.demo.load_mock_customer()
transactions_df = data["transactions"].merge(data["sessions"]).merge(data["customers"])
transactions_df.sample(10)

     transaction_id  session_id    transaction_time product_id  amount  customer_id   device       session_start zip_code           join_date date_of_birth
264             380          21 2014-01-01 05:14:10          5   57.09            4  desktop 2014-01-01 05:02:15    60091 2011-04-08 20:08:14    2006-08-15
19              244          10 2014-01-01 02:34:55          2  116.95            2   tablet 2014-01-01 02:31:40    13244 2012-04-15 23:31:04    1986-08-18
314             299           6 2014-01-01 01:32:05          4   64.99            1   tablet 2014-01-01 01:23:25    60091 2011-04-17 10:48:33    1994-07-18
290              78           4 2014-01-01 00:54:10          1   37.50            1   mobile 2014-01-01 00:44:25    60091 2011-04-17 10:48:33    1994-07-18
379             457          27 2014-01-01 06:37:35          1   19.16            1   mobile 2014-01-01 06:34:20    60091 2011-04-17 10:48:33    1994-07-18
335             477           9 2014-01-01 02:30:35          3   41.70            1  desktop 2014-01-01 02:15:25    60091 2011-04-17 10:48:33    1994-07-18
293             103           4 2014-01-01 00:57:25          5   20.79            1   mobile 2014-01-01 00:44:25    60091 2011-04-17 10:48:33    1994-07-18
271             390          22 2014-01-01 05:21:45          2   54.83            4  desktop 2014-01-01 05:21:45    60091 2011-04-08 20:08:14    2006-08-15
404             476          29 2014-01-01 07:24:10          4  121.59            1   mobile 2014-01-01 07:10:05    60091 2011-04-17 10:48:33    1994-07-18
179              90           3 2014-01-01 00:35:45          1   75.73            4   mobile 2014-01-01 00:28:10    60091 2011-04-08 20:08:14    2006-08-15

In [10]:
products_df = data["products"]
products_df

  product_id brand
0          1     B
1          2     B
2          3     B
3          4     B
4          5     A

In [11]:
es = ft.EntitySet(id="customer_data")

In [12]:
es = es.entity_from_dataframe(entity_id="transactions",
                            dataframe=transactions_df,
                              index="transaction_id",
                              time_index="transaction_time",
                             variable_types={"product_id": ft.variable_types.Categorical,
                                              "zip_code": ft.variable_types.ZIPCode})

In [13]:
es

Entityset: customer_data
  Entities:
    transactions [Rows: 500, Columns: 11]
  Relationships:
    No relationships

In [18]:
es

Entityset: customer_data
  Entities:
    transactions [Rows: 500, Columns: 11]
  Relationships:
    No relationships

# Results

Show graphs and stats here

# Conclusions and Next Steps

Summarize findings here